{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <a href="{% url 'create_project' %}">Create a new project</a>
        {% if projects %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        <tr>
                            <td>{{ project.tasks.all|length }}</td>
                            <td>{{ project.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
